<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>edit profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
       <img src="/media/user/profile_pic/default-user.png" height="100px" width="100px" alt="{{request.user.username}}">
       <form action="/user/profile" method="post" enctype="multipart/form-data">
       {% csrf_token %}
       {{userImageform.as_p}}
       <button type="submit" class="btn btn-primary">Upload</button>
       </form>
        {{request.user.username}}<br/>
        {{request.user.email}}<br/>
        {{request.user.first_name}}<br/>
        {{request.user.last_name}}<br/>
        <script src="" async defer></script>
    </body>
</html>