{% extends "user/base.html" %}
{% block title %}userRecords{% endblock %}

{% comment %} //This blocks show to user only if it comes after login {% endcomment %}

{% block body %}

<div class="container mt-3">
  <div class="row">
    <div class="col-9 mr-auto">
      <h3>Your all approved service are here</h3>
    </div>
    <div class="col-3 ml-auto">
<button type="button" class="btn btn-success mr-2 " data-toggle="modal" data-target="#RecordModal">
Request New Service
</button>
    </div>
  </div>
</div>


{% comment %} userRecords modal {% endcomment %}

<div class="modal fade" id="RecordModal" tabindex="-1" aria-labelledby="RecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle">Add new request here<p>If you have apply already once you need not to fill form again.</p></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/user/records" method='post'>
  <div class="form-group">
    <label for="fname">Full Name</label>
    <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your full Name" required>
  </div>
  <div class="form-group">
    <label for="phone">Phone number</label><br>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" size="59" placeholder="Enter Your Phone number" required>
  </div>
   <div class="form-group">
   <label for="faddress">Farm address</label><br>
    <input type="text" id="faddress" name="faddress" placeholder="Enter Your farm address" size="59" required>
  </div>
   <div class="form-group">
   <label for="farea">Farm area</label><br>
   <input type="number" id="farea" name="farea"  placeholder="Enter Your farm area in hector" size="59" required>
  </div>

   <div class="form-group">
   <label for="soilType">Farm area</label><br>
<select id="soilType" name="soilType" >
  <option value="andySoil">Sandy soil</option>
  <option value="siltSoil">Silt Soil</option>
  <option value="claySoil">Clay Soil</option>
  <option value="loamySoil">Loamy Soil</option>
</select>
  </div>

   <div class="form-group">
   <label for="money">Money demand</label><br>
    <input type="number" id="money" name="money"  placeholder="How much money you will demand for 1 year" size="59" required>
  </div>

  <div class="form-group"><br>
   <label for="farmImage">Multiple Farm Images</label><br>
    <input type="file" id="farmImage" name="farmImage" size="59" required multiple>
  </div>

   <div class="form-group">
   <label for="extracomment">Your suggestions</label>
   <textarea id="extracomment" name="extracomment" rows="5" cols="59" placeholder="Please, type your suggestion or extra comment"></textarea>
  </div>
 

        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

{% endblock  %}


{% comment %} //if user comes on this page without login this will show them. {% endcomment %}

{% block nonUser%}<h3>please signup or login</h3>{% endblock  %}