{% extends "user/base.html" %}
{% block title %}userRecords{% endblock %}

{% comment %} //This blocks show to user only if it comes after login {% endcomment %}
{% load static %}


{% block style %}

.col-3 {
-webkit-box-flex: 0;
-ms-flex: 0 0 25%;
flex: 0 0 29%;
max-width: 17.8%;
}

.mt-3, .my-3 {
margin-top: 1rem!important;
margin-bottom: 10px;
}

.jumbotron {
padding: 1rem 1rem;
}
.col {
-ms-flex-preferred-size: 0;
flex-basis: 0;
-webkit-box-flex: 1;
-ms-flex-positive: 1;
flex-grow: 1;
max-width: 30%;
}

.col-6 {
-webkit-box-flex: 0;
-ms-flex: 0 0 50%;
flex: 0 0 70%;
max-width: 100%;
}
.align-text{
    text-align: center;
}
.align-text-table{
 text-align: left;
}
.input-width{
width:200px;
}



.divnotauth {
    background-color: #424767;
color:#eeeeee;
text-align: center;
width: 100%;
margin: auto;
height: 300px;
padding-top: 20px;
}
.hw{
width:300px;
height:230px;
}
#divrow{
text-align:center;
}
.h5login{
margin-top:20px;
}
.h2login{
margin-top:0px;
}
@media only screen and (max-width:1350px){
.hw{
width:250px;
height:180px;
}
}
@media only screen and (max-width:1200px){
.hw{
width:400px;
height:330px;
}
#divrow{
text-align:center;
}
}
#backgroundDivPending{
background:#bbe1fa;
margin-bottom: 1rem;
}
#backgroundDivApproved{
background:#bbe1fa;
margin-bottom: 1rem;
}
#backgroundDivRejected{
background:#bbe1fa;
margin-bottom: 1rem;
}
.myNewRequest{
-webkit-box-flex: 0;
margin-right:7px;
-ms-flex: 0 0 25%;
}
.approvRejected {
padding-left: 135px;
padding-bottom: 0.2px;
margin-bottom: 10px;
}
.vbtn{
background:blue;
}
@media only screen and (max-width:1000px){
.myNewRequest {
-webkit-box-flex: 0;
margin-left: 14px;
-ms-flex: 0 0 25%;
}
.h5login{
margin-top:20px;
font-size:15px;
}
.h3Size{
font-size: 20px;
}
.approvRejected {
padding-left: 90px;
padding-bottom: 0.2px;
margin-bottom: 10px;
}
.hw{
width:330px;
height:260px;
}
#divrow{
text-align:center;
}
}

@media only screen and (max-width:750px){
.approvRejected {
padding-left: 40px;
padding-bottom: 0.2px;
margin-bottom: 10px;
}
.h2login{
font-size:20px;
}
.h5login{
margin-top:20px;
font-size:12px;
}
.divnotauth{
height:260px;
}
.hw{
width:270px;
height:200px;
}
.h3SizeApprovRejected{
font-size: 20px;
}
.h5SizeApprovRejected{
font-size: 15px;
}
}

@media only screen and (max-width:650px){
#backgroundDivPending {
background: #bbe1fa;
margin-bottom: 1rem;
text-align: center;
}
#backgroundDivApproved{
background:#bbe1fa;
margin-bottom: 1rem;
text-align: center;
}
#backgroundDivRejected{
background:#bbe1fa;
margin-bottom: 1rem;
text-align: center;
}
.leftText {
text-align: left;
margin-left: 13px;
margin-top:10px;
}
.h3Size {
font-size: 15px;
}
.approvRejected {
padding-left: 20px;
padding-bottom: 0.2px;
margin-bottom: 10px;
}
.divnotauth {
color:#eeeeee;
text-align: center;
width: 100%;
margin: auto;
padding-top: 20px;
font-size:15px;
}
.h2login{
font-size:20px;
}
.h5login{
margin-top:20px;
font-size:12px;
}
.divnotauth{
height:300px;
}
.hw{
width:320px;
height:200px;
}
}
{% endblock %}



{% block body %}

{% ifequal bool "true"  %}


{% comment %} userRecords modal {% endcomment %}

<div class="modal fade" id="RecordModal" tabindex="-1" aria-labelledby="RecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle">Add new request here<p>If you have apply already once you need not to fill form again.</p></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body align-text">
        <form action= "/user/records" method='post' enctype="multipart/form-data">
            <table class="align-text-table">
       <tr><th><label for="id_name">Name:</label></th><td><input type="text" name="name" maxlength="30" required id="id_name"></td></tr>
<tr><th><label for="id_mobileNo">MobileNo:</label></th><td><input type="text" name="mobileNo" maxlength="10" required id="id_mobileNo"></td></tr>
<tr><th><label for="id_farmaddress">Farmaddress:</label></th><td><input type="text" name="farmaddress" maxlength="150" required id="id_farmaddress"></td></tr>
<tr><th><label for="id_farmArea">FarmArea:</label></th><td><input type="number" name="farmArea" value="0" required id="id_farmArea"></td></tr>
<tr><th><label for="id_soilType">SoilType:</label></th><td><select name="soilType" id="id_soilType">
  <option value="Sandy soil">Sandy Soil</option>

  <option value="Silt Soil" selected>Silt Soil</option>

  <option value="Clay Soil">Clay Soil</option>

  <option value="Loamy Soil">Loamy Soil</option>

</select></td></tr>
<tr><th><label for="id_moneyDemand">MoneyDemand:</label></th><td><input type="number" name="moneyDemand" value="0" required id="id_moneyDemand"></td></tr>
<tr><th><label for="id_farmImage">FarmImage:</label></th><td><input type="file" name="farmImage" accept="image/*" required id="id_farmImage"></td></tr>
<tr><th><label for="id_extraComment">ExtraComment:</label></th><td><textarea class="input-width" name="extraComment" cols="40" rows="10" required id="id_extraComment">
</textarea></td></tr>
        <input type="hidden" name="csrfmiddlewaretoken" value="b6dAH4HQlbIYd0kcAlO6oPRCtm7VpAzxiUTHWPlKDpUXNPkJmhGfXaAO3eVl0sxl">
                </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        {% csrf_token %}
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="recordspending records">

<div class="container mt-3">
  <div class="row">
    <div class="col-9 mr-auto">
        {% if recordsPending %}
            <h3 class="h3Size">Your all pending service are here</h3>
        {% endif %}
    </div>
    <div class="myNewRequest">
<button type="button" class="btn btn-success mr-2 " data-toggle="modal" data-target="#RecordModal">
Request New Service
</button>
    </div>
  </div>
</div>

{% comment %} userRecords modal {% endcomment %}

<div class="modal fade" id="RecordModal" tabindex="-1" aria-labelledby="RecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle">Add new request here<p>If you have apply already once you need not to fill form again.</p></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/user/records" method='post' enctype="multipart/form-data">
            <table>
      <tr><th><label for="id_name">Name:</label></th>
          <td><input type="text" name="name" maxlength="30" required id="id_name"></td>
      </tr>
<tr><th><label for="id_mobileNo">MobileNo:</label></th><td><input type="text" name="mobileNo" maxlength="10" required id="id_mobileNo"></td></tr>
<tr><th><label for="id_farmaddress">Farmaddress:</label></th><td><input type="text" name="farmaddress" maxlength="150" required id="id_farmaddress"></td></tr>
<tr><th><label for="id_farmArea">FarmArea:</label></th><td><input type="number" name="farmArea" value="0" required id="id_farmArea"></td></tr>
<tr><th><label for="id_soilType">SoilType:</label></th><td><select name="soilType" id="id_soilType">
  <option value="Sandy soil">Sandy Soil</option>

  <option value="Silt Soil" selected>Silt Soil</option>

  <option value="Clay Soil">Clay Soil</option>

  <option value="Loamy Soil">Loamy Soil</option>

</select></td></tr>
<tr><th><label for="id_moneyDemand">MoneyDemand:</label></th><td><input type="number" name="moneyDemand" value="0" required id="id_moneyDemand"></td></tr>
<tr><th><label for="id_farmImage">FarmImage:</label></th><td><input type="file" name="farmImage" accept="image/*" required id="id_farmImage"></td></tr>
<tr><th><label for="id_extraComment">ExtraComment:</label></th><td><textarea name="extraComment" cols="30" rows="10" required id="id_extraComment">
</textarea></td></tr>
        <input type="hidden" name="csrfmiddlewaretoken" value="sSl494fxDs3XNbUr3taQYI7hCJHMvbkhNjfOowNhXgFoxHnNgPqHp5Aap0HuhFL7">
                </table>
</form>

            </table>
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
</form>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

 {% for recordsPending in recordsPending %}
    <main role="main" class="container">
      <div id="backgroundDivPending" class="jumbotron">
        <div class="container">
  <div class="row">
    <div class="col">
      <img src="/media/{{recordsPending.farmImage}}" width="280px" height="260px"  alt="">
    </div>
    <div class="leftText col">
        <h3>{{recordsPending.name}}</h3>
        <h5>mobile No: {{recordsPending.mobileNo}}</h5>
        <h5>Address: {{recordsPending.farmaddress}}</h5>
        <h5>Area: {{recordsPending.farmArea}}</h5>
        <h5>soilType: {{recordsPending.soilType}}</h5>
        <h5>MonyeyDemand: {{recordsPending.moneyDemand}}</h5>
        <h5>Comment: {{recordsPending.extraComment}}</h5>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endfor %}

   <!--all approved record showing-->

    <div class="approvRejected">
{% if recordsApproved %}
      <h3 class="h3SizeApprovRejected" >Your all approved service are here.</h3>
      <h5 class="h5SizeApprovRejected">we will looke at them.</h5>
{% endif %}
    </div>

    {% for recordsApproved in recordsApproved %}
    <main role="main" class="container">
      <div id="backgroundDivApproved" class="jumbotron">
        <div class="container">
  <div class="row">
    <div class="col">
      <img src="/media/{{recordsApproved.farmImage}}" width="280px" height="260px"  alt="">
    </div>
    <div class="leftText col">
        <h3>{{recordsApproved.name}}</h3>
        <h5>mobile No: {{recordsApproved.mobileNo}}</h5>
        <h5>Address: {{recordsApproved.farmaddress}}</h5>
        <h5>Area: {{recordsApproved.farmArea}}</h5>
        <h5>soilType: {{recordsApproved.soilType}}</h5>
        <h5>MonyeyDemand: {{recordsApproved.moneyDemand}}</h5>
        <h5>Comment: {{recordsApproved.extraComment}}</h5>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endfor %}

    <!--showing all rejected records here-->
 <div class="approvRejected">
     {% if recordsRejected %}
      <h3 class="h3SizeApprovRejected">Your all rejected service are here.</h3>
      <h5 class="h5SizeApprovRejected">You can apply again for this one after some changes</h5>
     {% endif %}
    </div>


{% for recordsRejected in recordsRejected %}
    <main role="main" class="container">
      <div id="backgroundDivRejected" class="jumbotron">
        <div class="container">
  <div class="row">
    <div class="col">
      <img src="/media/{{recordsRejected.farmImage}}" width="280px" height="260px"  alt="">
    </div>
    <div class="leftText col">
        <h3>{{recordsRejected.name}}</h3>
        <h5>mobile No: {{recordsRejected.mobileNo}}</h5>
        <h5>Address: {{recordsRejected.farmaddress}}</h5>
        <h5>Area: {{recordsRejected.farmArea}}</h5>
        <h5>soilType: {{recordsRejected.soilType}}</h5>
        <h5>MonyeyDemand: {{recordsRejected.moneyDemand}}</h5>
        <h5>Comment: {{recordsRejected.extraComment}}</h5>
         </div>
          </div>
        </div>
      </div>
    </main>
    {% endfor %}
</div>

{%endifequal%}



{% ifequal bool "false"  %}
<div class="container-fluid">
  <div class="row">
      <div class="divnotauth">
           <img src="{%static 'user/agritech.png' %}" height="150px" width="170px"/>
<!--              you are not authenticated!!! please, login or signup<br><br>-->
          <h2 class="h2login">More farm together with best technology</h2>
          <h5 class="h5login">Keep login and apply your farm for renting if you are new then signup, you can bid for price</h5>
      </div>
  </div>
    <div id="divrow" class="row">
        <div id="divcol1" class="col">
                      <img class="hw" src="{%static 'user/div8.jpg' %}" />
        </div>
         <div id="divcol2" class="col">
                      <img class="hw" src="{%static 'user/div2.jpg' %}"  width="300px" height="230px"/>
        </div>
         <div id="divcol3" class="col">
                      <img class="hw" src="{%static 'user/div3.jpg' %}"  width="300px" height="230px"/>
        </div>
         <div id="divcol4" class="col">
                      <img class="hw" src="{%static 'user/div5.jpg' %}"  width="300px" height="230px"/>
        </div>
    </div>
</div>
{% endifequal %}
{% endblock  %}

