{% extends "management/base.html" %}

{% block style %}
.rowHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.h3Crop{
    font-size: 1.75rem;
    color: blue;
}
.colCropDetails {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 42%;
}
.addButton{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 12.2%;
}
.addButton2{
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 14.3%;
}
.container {
    max-width: 80%;
    margin-top:20px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.colY {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.colCrop {
       -ms-flex-preferred-size: 0;
    /* flex-basis: 0; */
    width: 185px;
    /* -webkit-box-flex: 1; */
    -ms-flex-positive: 1;
    /* flex-grow: 1; */
    /* max-width: 22%; */
    background: whitesmoke;
    padding: 10px;
    margin: 7px;
}
.rowCrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-left: 55px;
}
.bdy{
  background-color:aliceblue;
  max-width:80%;
  margin:auto;
  min-height:100vah;
}
{% endblock%}

{% block body%}

<div class="bdy">
<div class="mt-3" style="max-width:50%;text-align:center;margin:0 auto;">
<center><h1 style="color:blue;">{{cropId.cropName}}</h1></center>
<hr>

          <div class="row" style="margin:10px auto;">
            <div class="col-lg-6" style="padding-left:50px;" ><p style="font-size:18px"><b>Crop Type: </b></p></div>
              <div class="col-lg-6">{{cropId.cropType}}</div>

               <div class="col-lg-6" style="padding-left:50px;" ><p style="font-size:18px"><b>Crop Season:</b></p></div>
              <div class="col-lg-6">{{cropId.cropSeason}}</div>

               <div class="col-lg-6" style="padding-left:50px;" ><p style="font-size:18px"><b>Crop Storage:</b></p></div>
              <div class="col-lg-6">{{cropId.totalStorage}}</div>
            </div>
    </div>

<! –– Seeds details ––>
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-10 col-md-12">
      <h3 class="h3Crop" >Seeds brands for {{cropId.cropName}}</h3>
    </div>
    <div class="col-2">
<button type="button" class="btn btn-success mr-2 " data-toggle="modal" data-target="#RecordModal">
Add new Seeds
</button>
    </div>
  </div>
    <div class="rowCrop">
        {% for x in seedsRecord %}
      <div class="colCrop">
            {{x.crop_name}}<br>
            Seeds:{{x.seeds_name}}
      </div>
        {% if forloop.counter|divisibleby:4%}
        </div>
        <div class="rowCrop">
        {% endif %}
        {% endfor %}
  </div>
</div>


<! –– pesticides details ––>
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-10 col-md-12">
      <h3 class="h3Crop" >Pesticides brands for {{cropId.cropName}}</h3>
    </div>
    <div class="col-2">
<button type="button" class="btn btn-success mr-2 " data-toggle="modal" data-target="#RecordModal1">
Add new Pesticides
</button>
    </div>
  </div>
    <div class="rowCrop">
        {% for x in pesticidesRecord %}
      <div class="colCrop">
            {{x.crop_name}}<br>
            pesticides:{{x.pesticides_name}}
      </div>
        {% if forloop.counter|divisibleby:4%}
        </div>
        <div class="rowCrop">
        {% endif %}
        {% endfor %}
  </div>
</div>

<! –– Seeds form ––>
<div class="modal fade" id="RecordModal" tabindex="-1" aria-labelledby="RecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle1">Add Seeds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/management/crop/{{cropId.crop_id}}" method='post' enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>


<! –– Pesticides form ––>
<div class="modal fade" id="RecordModal1" tabindex="-1" aria-labelledby="RecordModal1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle">Add Pasticides</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/management/crop/{{cropId.crop_id}}" method='post' enctype="multipart/form-data">
            {{ form1.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
</div>
{% endblock %}