{% extends "management/base.html" %}

{% block style %}
.rowHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -150px;
    margin-bottom: 10px;
}
.colCrop {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 19%;
    background: whitesmoke;
    padding: 10px;
    margin: 5px;
}
.rowCrop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.containerCrop {
    max-width: 100%;
}
body {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
    min-height: 100vh;
}
.buttonReadMore {
    padding: 6px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonReadMore2 {
    background-color: unset;
    color: black;
    border: 2px solid #008CBA;
}

.buttonReadMore2:hover {
  background-color: #008CBA;
  color: white;
}
.h3Crop{
    font-size: 1.75rem;
    color: white;
}
{% endblock %}



{% block body %}
<div class="container mt-3">
  <div class="rowHead">
    <div class="col-9 mr-auto">
      <h3 class="h3Crop" >Add Crop here</h3>
    </div>
    <div class="col-3 ml-auto">
<button type="button" class="btn btn-success mr-2 " data-toggle="modal" data-target="#RecordModal">
Add new crop
</button>
    </div>
  </div>
</div>

<div class="modal fade" id="RecordModal" tabindex="-1" aria-labelledby="RecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle">Add new Crop here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          
<!--Add new crop Form-->
          
           <form action= "/management/crop/" method='post' enctype="multipart/form-data"> {% csrf_token %}
            <table>
            <tr><th><label for="id_cropName">CropName:</label></th><td>
                <input class="marginFormTable" type="text" name="cropName" maxlength="30" required id="id_cropName"></td></tr>
<tr><th><label for="id_cropType">CropType:</label></th><td><select class="marginFormTableSelect" name="cropType" id="id_cropType">
  <option value="FoodCrop(Grains)" selected>FoodCrop(Grains)</option>

  <option value="Fruits">Fruits</option>

  <option value="Vegetables">Vegetables</option>

  <option value="Non FoodCrop">Non FoodCrop</option>

</select></td></tr>
<tr><th><label for="id_cropSeason">CropSeason:</label></th><td><select class="marginFormTableSelect" name="cropSeason" id="id_cropSeason">
  <option value="Monsoon(Kharif Crop)" selected>Monsoon(Kharif Crop)</option>

  <option value="Winter(Rabi Crop)">Winter(Rabi Crop)</option>

  <option value="Summer(Zaid Crop)">Summer(Zaid Crop)</option>

</select></td></tr>
<tr><th><label for="id_totalStorage">TotalStorage:</label></th><td><input class="marginFormTable" type="number" name="totalStorage" value="0" required id="id_totalStorage"></td></tr>
            <input class="marginFormTable" type="hidden" name="csrfmiddlewaretoken" value="iQnosrYY6QhknWLKwxwCz7WawWhj0RUeoAqlaQSB6kBtivQ3grJVWmMo2bhfolaH">
          </table>
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
          
      </div>
    </div>
  </div>
</div>


<div class="containerCrop">
  <div class="rowCrop">
      {% for x in cropRecord %}
      <div class="colCrop">
          <center><b><h4>{{x.cropName}}</h4></b>{{x.cropSeason}}
          <a href="{{x.crop_id}}"> <button id="{{x.crop_id}}" class="buttonReadMore buttonReadMore2">Seeds and pesticides</button></a>
          <a href="cropRecords/{{x.crop_id}}"> <button id="{{x.crop_id}}" class="buttonReadMore buttonReadMore2">Crop records</button></a></center>

      </div>
      {% if forloop.counter|divisibleby:5%}
  </div>
    <div class="rowCrop">
      {% endif %}
      {% endfor %}
  </div>
</div>

<!--showing records to select a crop-->

<br><br><br>
<h3>select crop in all approve records</h3>

{% for recordsApproved,l in mylist%}
    <main role="main" class="container">
      <div class="jumbotron">
        <div class="container">
  <div class="row">
    <div class="col-3">
      <img src="/media/{{recordsApproved.farmImage}}" width="200px" height="180px"  alt="">
    </div>
    <div class="col-6">
        <h3>{{recordsApproved.name}}</h3>
        <h5>mobile No: {{recordsApproved.mobileNo}}</h5>
        <h5>Address: {{recordsApproved.farmaddress}}</h5>
        <h5>Area: {{recordsApproved.farmArea}}</h5>
        <h5>soilType: {{recordsApproved.soilType}}</h5>
        <h5>MonyeyDemand: {{recordsApproved.moneyDemand}}</h5>
        <h5>Comment: {{recordsApproved.extraComment}}</h5>
        
            </div>
            <div class="col-3">
        <form action= "/management/crop/" method='post' >
        {{ addCrop.as_p }}
        <label for="croparea">cropArea</label>
        <input type="number" name="croparea" /><br><br>
        {% csrf_token %}
        <button type="submit" name="AddCropToRecord" value="{{recordsApproved.recordId}}" class="btn btn-primary">Add crop</button>
        </form>
        
        <h2>crops in this record</h2>
        {% for j in l %}
        <p>{{j.crop.cropName}} -- {{j.Area}}</p>
        {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endfor %}

{% endblock %}
