{% extends "management/base.html" %}

{% block style %}
  .rowInFor{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 10px;
    padding-left: 50px;
}
.employeeProfile{
  border-radius: 50%;
}
body {
    background: #654ea3;
    background: -webkit-linear-gradient(to right, #654ea3, #eaafc8);
    background: linear-gradient(to right, #654ea3, #eaafc8);
    min-height: 100vh;
}
.containerImg {
    max-width: 1140px;
    margin-top: 20px;
     margin-left: 120px;
    padding-top: 30px;
    padding-bottom: 40px;
    background:unset;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 25%;
}
.rowHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 30px;
}
.colImg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 25px;
    background: aliceblue;
    max-width: 21%;
    margin-right: 40px;
}
body{
    background-color: #e8e8e8;
padding-bottom:50px;
}
.buttonReadMore {
    padding: 6px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonReadMore2 {
    background-color: unset;
    color: black;
    border: 2px solid #008CBA;
}

.buttonReadMore2:hover {
  background-color: #008CBA;
  color: white;
}
{% endblock %}

{% block body %}
<div class="container mt-3">
  <div class="rowHead">
    <div class="col-9 mr-auto">
      <h3>Add EmployeeModel here</h3>
    </div>
    <div class="col-3 ml-auto">
<button type="button" class="btn btn-success mr-2 " data-toggle="modal" data-target="#RecordModal">
Add new Employee
</button>
    </div>
  </div>
</div>



<div class="modal fade" id="RecordModal" tabindex="-1" aria-labelledby="RecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle">Add new EmployeeModel here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form action= "/management/employee/" method='post' enctype="multipart/form-data">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="containerImg">
  <div class="rowInFor">
    {% for x in employeeRecord %}
    <div class="colImg">
      <img src="/media/{{x.profileImage}}" width="180px" height="180px"  alt="" class="employeeProfile"><br><br>
        <center><b>{{x.name}}</b><br>
        {{x.departmentType}}<br>
        <a href="{{x.employee_id}}"> <button id="{{x.employee_id}}" class="buttonReadMore buttonReadMore2">Read More Details</button></a></center>
    </div>
    {% if forloop.counter|divisibleby:4%}
    </div> <div class="rowInFor">
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endblock %}
