{% extends "management/base.html" %}

{% block style %}

<!--css for add new employee button-->

.addMore{
  border: none;
  width: 62px;
  height: 62px;
  background-color: green;
  transition-duration: 0.001s;
  cursor: pointer;
}
.addMore:hover{
  border: 1px solid grey;
  background-color: blue;
  font-size:30px;
}

  .rowInFor{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin:30px 5% 0;
    
}

.containerImg {
    max-width: 1340px;
    margin-top: 20px;
     margin-left: 120px;
    padding-top: 30px;
    padding-bottom: 40px;
    background:unset;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 25%;
}
.rowHead {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 30px;
    margin-top:50px;
}
.colImg {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding: 20px;
    background: lightblue;
    max-width: 21%;
    margin-right: 40px;
}

.buttonReadMore {
    padding: 6px 20px;
    text-align: center;
    border-radius: 10px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.buttonReadMore2 {
    background-color: unset;
    color: black;
    margin-top:20px;
    border: 2px solid #008CBA;
}

.buttonReadMore2:hover {
  background-color: #008CBA;
  color: white;
}

{% endblock %}

{% block body %}

<div class="container mt-3">
  <div class="rowHead">
    <div class="col-9 mr-auto">
      <h3 style="color:black;font-size: 250%;">Employee List</h3>
    </div>
    <div class="col-3 ml-auto">
<button type="button" class="btn btn-success mr-2 addMore " title="Add new Employee" style="border-radius:50%; width:60px;height:60px;"  data-toggle="modal" data-target="#RecordModal">
+ 
</button>
    </div>
  </div>
</div>



<div class="modal fade" id="RecordModal" tabindex="-1" aria-labelledby="RecordModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="RecordModalTitle">Add new EmployeeModel here</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
        <!--Add new Employee form-->        
           <form action= "/management/employee/" method='post' enctype="multipart/form-data"> 
            <table>
        <tr>
            <th>
                <label for="id_name">Name:</label>
            </th>
            <td>
                <input class="marginFormTable" type="text" name="name" maxlength="30" required id="id_name">
            </td>
        </tr>
<tr>
    <th>
        <label for="id_mobileNo">MobileNo:</label>
    </th>
    <td>
        <input class="marginFormTable" type="text" name="mobileNo" maxlength="10" required id="id_mobileNo">
    </td>
</tr>
<tr>
    <th>
        <label for="id_age">Age:</label>
    </th>
    <td>
        <input class="marginFormTable" type="number" name="age" value="0" required id="id_age">
    </td>
</tr>
<tr>
    <th>
        <label for="id_departmentType">DepartmentType:</label>
    </th>
    <td>
        <select class="marginFormTableSelect" name="departmentType" id="id_departmentType">
  <option value="Crop Department" selected>Crop Department</option>

  <option value="Seeds Department">Seeds Department</option>

  <option value="Workers Department">Workers Department</option>

</select>
    </td>
</tr>
<tr>
    <th>
        <label for="id_profileImage">ProfileImage:</label>
    </th>
    <td>
        <input class="marginFormTable" type="file" name="profileImage" accept="image/*" required id="id_profileImage">
    </td>
</tr>
<tr>
    <th>
        <label for="id_address">Address:</label>
    </th>
    <td>
        <input class="marginFormTable" type="text" name="address" maxlength="150" required id="id_address">
    </td>
</tr>
<tr>
    <th>
        <label for="id_ability">Ability:</label>
    </th>
    <td>
        <textarea class="marginFormTable" name="ability" cols="40" rows="10" required id="id_ability">
</textarea>
    </td>
</tr>
{% csrf_token %}
    <input type="hidden" name="csrfmiddlewaretoken" value="UnHdtv5vunZ6nY1W6bv0sFwx6j5ZUUBr07KabUZ8uRjfix6fQ5IjPUmLCy5VioRU">
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        
      </div>
    </div>
  </div>
</div>

<!--employee records-->

<div class="containerImg">
  <div class="rowInFor">
    {% for x in employeeRecord %}
    <div class="colImg">
      <center><img src="/media/{{x.profileImage}}" width="100px" height="100px"  alt="x.name" class="rounded-circle ">
      <br><br>
        <b style="font-size:1.4rem;">{{x.name}}</b><br>
        {{x.departmentType}}<br>
        <a href="{{x.employee_id}}"> <button id="{{x.employee_id}}" class="buttonReadMore buttonReadMore2">About {{x.name}}</button></a></center>
    </div>
    {% if forloop.counter|divisibleby:4%}
    </div> 
    <div class="rowInFor">
    {% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
