{% extends "management/base.html" %}
{% block title %}manageRecords{% endblock %}

{% comment %} //This blocks show to user only if it comes after login {% endcomment %}


{% block style %}

       .col-3 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 29%;
    max-width: 17.8%;
}

.mt-3, .my-3 {
    margin-top: 1rem!important;
    margin-bottom: 10px;
}

.jumbotron {
    padding: 1rem 1rem;
}
.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 30%;
}

.col-6 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 70%;
    max-width: 100%;
}
{% endblock %}


{% block body %}

{% comment %} employee button {% endcomment %}
 <a href="/management/employee/"> <button class="buttonReadMore buttonReadMore2">Employee</button></a>
{% comment %} {% ifequal bool "true"  %} {% endcomment %}

<div class="container mt-3">
  <div class="row">
    <div class="col-9 mr-auto">
      <h3>Your all pending service are here</h3>
    </div>
    </div>
  </div>
</div>




 {% for recordsPending in recordsPending %}
    <main role="main" class="container">
      <div class="jumbotron">
        <div class="container">
  <div class="row">
    <div class="col-4">
      <img src="/media/{{recordsPending.farmImage}}" width="280px" height="260px"  alt="">
    </div>
    <div class="col-4">
        <h3>{{recordsPending.name}}</h3>
        <h5>mobile No: {{recordsPending.mobileNo}}</h5>
        <h5>Address: {{recordsPending.farmaddress}}</h5>
        <h5>Area: {{recordsPending.farmArea}}</h5>
        <h5>soilType: {{recordsPending.soilType}}</h5>
        <h5>MonyeyDemand: {{recordsPending.moneyDemand}}</h5>
        <h5>Comment: {{recordsPending.extraComment}}</h5>
            </div>
    <div class="col-4">
    <form action="/management/manage" method="post">
    {% csrf_token %}
    <button type="submit" name="Approve"value="{{recordsPending.recordId}}" class="btn btn-success">Approve</button><br><br>
    <button type="submit" name="Reject"value="{{recordsPending.recordId}}" class="btn btn-danger">Reject</button>
    </form>
    
    </div>
          </div>
        </div>
      </div>
    </main>
    {% endfor %}
    
   <!--all approved record showing-->

    <div>
      <h3>Your all approved service are here.</h3>
      <h5>we will looke at them.</h5>
    </div>

    {% for recordsApproved in recordsApproved %}
    <main role="main" class="container">
      <div class="jumbotron">
        <div class="container">
  <div class="row">
    <div class="col">
      <img src="/media/{{recordsApproved.farmImage}}" width="280px" height="260px"  alt="">
    </div>
    <div class="col-6">
        <h3>{{recordsApproved.name}}</h3>
        <h5>mobile No: {{recordsApproved.mobileNo}}</h5>
        <h5>Address: {{recordsApproved.farmaddress}}</h5>
        <h5>Area: {{recordsApproved.farmArea}}</h5>
        <h5>soilType: {{recordsApproved.soilType}}</h5>
        <h5>MonyeyDemand: {{recordsApproved.moneyDemand}}</h5>
        <h5>Comment: {{recordsApproved.extraComment}}</h5>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endfor %}

    <!--showing all rejected records here-->
 <div>
      <h3>Your all rejected service are here.</h3>
      <h5>You can apply again for this one after some changes</h5>
    </div>
  
  
{% for recordsRejected in recordsRejected %}
    <main role="main" class="container">
      <div class="jumbotron">
        <div class="container">
  <div class="row">
    <div class="col">
      <img src="/media/{{recordsRejected.farmImage}}" width="280px" height="260px"  alt="">
    </div>
    <div class="col-6">
        <h3>{{recordsRejected.name}}</h3>
        <h5>mobile No: {{recordsRejected.mobileNo}}</h5>
        <h5>Address: {{recordsRejected.farmaddress}}</h5>
        <h5>Area: {{recordsRejected.farmArea}}</h5>
        <h5>soilType: {{recordsRejected.soilType}}</h5>
        <h5>MonyeyDemand: {{recordsRejected.moneyDemand}}</h5>
        <h5>Comment: {{recordsRejected.extraComment}}</h5>
            </div>
          </div>
        </div>
      </div>
    </main>
    {% endfor %}




{% comment %} {%endifequal%} {% endcomment %}
{% ifequal bool "false"  %}
 <p>you are not authenticated!!! please, login or signup</p>
{% endifequal %}

{% endblock  %}

